.cardseparation {
    margin-left: 5px;
    margin-right: 5px;
}

.reticula{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.margingnav{
    padding: 20px;
}

.instruc{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h5{
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsize{
    width: 130px;
    height: 130px;
}